@import "tailwindcss";

:root {
  --background: #eaeaea;
  --foreground: #171717;
}

@theme {
  --color-green-shade-01: #1c8080;
  --color-green-shade-02: #00BF6F;
  --color-dark-shade-01: #414141;
  --font-display: var(--font-inter);
  --font-sans: var(--font-outfit);
}

body {
  background: var(--background);
}
