@import "tailwindcss";

:root {
  --background: #eaeaea;
  --foreground: #171717;
}

@theme {
  --color-green-shade-01: #1c8080;
  --color-green-shade-02: #00bf6f;
  --color-green-shade-03: #23a4a4;
  --color-dark-shade-01: #414141;
  --color-dark-shade-02: #3b3b3b;
  --color-dark-shade-03: #484848;
  --color-dark-shade-04: #2f2f2f;
  --font-display: var(--font-inter);
  --font-sans: var(--font-outfit);
  --font-alternative: var(--font-geist);
}

body {
  background: var(--background);
}
